
        body {
            background-image: url('IMAGES/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        /* Adjust the select box size and label styles */
        select#drinkSelect {
            width: 200px;
            /* Adjust the width as needed */
            padding: 10px;
            /* Adjust padding as needed */
            font-size: 16px;
            /* Adjust font size as needed */
        }

        label[for="drinkSelect"] {
            font-size: 18px;
            /* Adjust font size as needed */
            margin-right: 10px;
            /* Adjust margin as needed */
        }

        .sidebar a {
            display: block;
            color: #fff;
            padding: 10px 0;
            text-decoration: none;
        }

        #calculateButton {
            background-color: blue;
            /* Set the background color to blue */
            color: white;
            /* Set the text color to white */
        }

        .btn-red {
            background-color:red;
            /* Yellow background */
            color: white;
            /* Black text color */
            border-color: black;
            /* Black border (if needed) */
        }
        .btn-yellow {
            background-color:#FFCC00;
            /* Yellow background */
            color: black;
            /* Black text color */
            border-color: black;
            /* Black border (if needed) */
        }
        .btn-dark {
            background-color:lightslategray;
            /* Yellow background */
            color: white;
            /* Black text color */
            border-color: black;
            /* Black border (if needed) */
        }
        .product-images{
        width: 160px;
        height: 160px;
        margin-top:30px;
        border:10px solid white;
        overflow:hidden;
        box-shadow: 0 0 5px;
        margin-bottom:0px;
        }
        input.form-control {
            height: 20px; /* You can adjust the height as needed */
            width: 100px;
        }